<!DOCTYPE html>
<html>
    <head>
	    <title>Blog</title>
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
	    <link rel="stylesheet" href="{{.Site.BaseURL}}css/main.css">
    </head>
    <body>
        <div class="side-bar">
        	<header>
                <a href="{{ "/" | relLangURL }}" class = "logo">
				{{ if .Site.Params.logoTitle }}
					{{ .Site.Params.logoTitle | safeHTML }}
				{{ else }}
           {{ .Site.Title }}
				{{ end }}
			</a>
                <div class="intro">今天吃飯了嗎</div>
        	</header>

        	<nav>
              {{ range .Data.Pages }}
              {{ if eq .Type "page" }}
              <a href="{{ .Permalink }}">#{{ .Title }}</a>
              {{ end }}
              {{ end }}

        	</nav>
        	<div class="tag">
        		<a href="#" class="item2">#留學</a>
        		<a href="#" class="item2">#吃貨</a>
        		<a href="#" class="item2">#語言學</a>
        	</div>
        </div>